{% extends 'base.html' %}
{% load static %}
{% block body %}
<nav class="top-nav container-fluid clearfix">
    <a href="{% url 'index' %}">
        <img width="133" height="24" src="{% static 'images/logo-tiny--reverse@2x.png' %}" class="logo hidden-xs" alt="logo">
        <img width="49" height="34" src="{% static 'images/LogoIcon_white@2x.png' %}" class="logo visible-xs-inline" alt="logo">
    </a>
    <div class="social pull-right">
        <a href="https://www.facebook.com/pycontw" class="social-btn" target="_blank">
            <i class="fa fa-facebook fa-lg"></i>
        </a>
        <a href="https://twitter.com/pycontw" class="social-btn" target="_blank">
            <i class="fa fa-twitter fa-lg"></i>
        </a>
    </div>
</nav>
<div class="section header">
    <div class="container">
        <div class="row">
            <h1 class="logo text-center col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                <img class="img-responsive" src="{% static 'images/logo.png' %}" alt="PYCON Taiwan 2016">
            </h1>
            <div class="slogan col-xs-12">
                <p>Implement the Future, Together !</p>
            </div>
        </div>
        <div class="row">
            <div class="schedule-wrapper">
                <div class="row">
                    <div class="h3 schedule__title--lg">Tutorials</div>
                    <div class="h3 schedule__title--lg">Conference</div>
                    <div class="h3 schedule__title--lg">Sprint</div>
                </div>
                <div class="row schedule">
                    <div class="schedule-block">
                        <h3 class="schedule__title">Tutorials</h3>
                        <p>TBD</p>
                    </div>
                    <div class="schedule-block">
                        <h3 class="schedule__title">Conference</h3>
                        <p>June 3-5, 2016</p>
                    </div>
                    <div class="schedule-block">
                        <h3 class="schedule__title">Sprint</h3>
                        <p>TBD</p>
                    </div>
                </div>
            </div>
        </div>
        {# end .schedule #}
    </div>
</div>
<div class="section intro">
    <div class="container">
        <p class="quote">&quot;Simple is better than complex.    Complex is better than complicated.&quot;</p>
        <div class="row">
            <section class="intro__pycon col-md-8">
                <h2 class="intro__heading">What is PyCon</h2>
                <div class="intro__body">
                The original PyCon was formed in North America in 2003, and now there are many other conferences being run in the PyCon spirit around the world.
                </div>
            </section>
        </div>
        <div class="row">
            <section class="intro__pycontw">
                <h2 class="intro__heading">And what is PyCon Taiwan</h2>
                <div class="intro__body">
                PyCon Taiwan is an annual convention in Taiwan for the discussion and promotion of the Python programming language. It is held by enthusiasts and focuses on Python technology and its versatile applications. We welcome people who are interested in Python to join PyCon Taiwan to share knowledge, exchange ideas, make connections and to help us grow our network.
                </div>
            </section>
            <section class="intro__volunteer">
                <div class="volunteer">
                    <h2 class="volunteer__heading h4">Volunteers Needed!<span><img width="25" height="22" src="{% static 'images/call_icon.png' %}" class="call__icon"></span></h2>
                    <div class="volunteer__body">
                        <p>Help us organize and make the conference successful!</p>
                        <p>
                            Please fill out<br>
                            <a href="https://docs.google.com/forms/d/1JoHhAj6NeXg98OFAAvAHQ6Dcrh9Dxp2PttHKwxNbiFs/viewform" target="_blank">our volunteer form</a>
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{# end .intro #}

{# begin .community #}
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="community">
                    <h2 class="section__heading"><span><img width="36" height="36" src="{% static 'images/python_icon.png' %}" class="python__icon hidden-xs"></span>Python Community in Taiwan</h2>
                    <ul class="community-list list row">
                        <li class="list__item">
                            <a href="http://www.meetup.com/Taipei-py/" target="_blank">
                            Taipei.py<span class="desc">Taipei Python User Group</span>
                            </a>
                        </li>
                        <li class="list__item">
                            <a href="http://www.meetup.com/pythonhug/" target="_blank">
                            PyHUG <span class="desc">Python Hsinchu User Group</span>
                            </a>
                        </li>
                        <li class="list__item">
                            <a href="http://www.meetup.com/PyLadiesTW/" target="_blank">
                            PyLadies Taiwan
                            </a>
                        </li>
                        <li class="list__item">
                            <a href="http://www.meetup.com/Tainan-py-Python-Tainan-User-Group/" target="_blank">
                            Tainan.py <span class="desc">Python Tainan User Group</span>
                            </a>
                        </li>
                        <li class="list__item">
                            <a href="http://www.meetup.com/Kaohsiung-Python-Meetup" target="_blank">Kaohsiung.py <span class="desc">Kaohsiung Python User Group</span>
                            </a>
                        </li>
                        <li class="list__item">
                            <a href="http://www.meetup.com/Taichung-Python-Meetup/" target="_blank">Taichung.py <span class="desc">Taichung Python User Group</span>
                            </a>
                        </li>
                        <li class="list__item">
                            <a href="http://djangogirls.org/taipei" target="_blank">
                            Django Girls Taipei
                            </a>
                        </li>
                        <li class="list__item">
                            <a href="http://www.meetup.com/Hualien-Py/" target="_blank">
                            Hualien.py<span class="desc">Hualien Python User Group</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{# end .community #}

{# begin .sponsorship #}
<div class="section sponsorship">
    <div class="container">
        <div class="row">
            <div class="sponsorship__call">Sponsorship 2016 available !</div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <p>
                Sponsoring PyCon Taiwan 2016 will connect your brand with estimated total 800 Python enthusiastic users and developers in Taiwan, 9 out of 10 are professionals. It’s a great opportunity to find talents and promote your products here. Contact us at <a href="mailto:sponsorship@pycon.tw">sponsorship@pycon.tw</a> for sponsorship details.
                </p>
                <br>
                <p>See also <a href="https://tw.pycon.org/2015apac/en/sponsors/" target="_blank"> Sponsors of PyCon APAC 2015</a></p>
            </div>
        </div>
    </div>
</div>
{# end .sponsorship #}

{# begin .conf #}
<div class="section conf">
    <div class="block container">
        <p class="quote">&quot;Beautiful is better than ugly.     Explicit is better than implicit. &quot;</p>
        {% comment %}
        <div class="section keynote">
            <h2 class="section__heading">Keynote Speaker</h2>
            <div class="row">
                <div class="keynote-speaker">
                    <div class="keynote-speaker__photo"></div>
                    <div class="keynote-speaker__name">Robert Bradshaw</div>
                    <a class="keynote-speaker__url" href="https://andy.terrel.us" target="_blank">https://andy.terrel.us</a>
                    <h3 class="keynote-speaker__heading h4">Bio</h3>
                    <p class="keynote-speaker__body">Andy is a computational scientist with experience implementing distributed, large data applications. In his research, he is known for creating novel algorithms to speed implementations of mathematical models on the world's largest supercomputers.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="keynote-speaker">
                    <div class="keynote-speaker__photo"></div>
                    <div class="keynote-speaker__name">Jim Huang (jserv)</div>
                    <a class="keynote-speaker__url" href="https://twitter.com/jserv" target="_blank">https://twitter.com/jserv</a>
                    <h3 class="keynote-speaker__heading h4">Bio</h3>
                    <p class="keynote-speaker__body">Jim Huang (黃敬群)，慣用網路暱稱為「jserv」，熱血工讀生。 自1999 年開始參與開放原始碼/自由軟體專案開發，在科技公司打零工之餘，也在成功大學和交通大學兼課，帶領學生更有 GUTS、更有能力面對資訊科技產業的種種挑戰。
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="keynote-speaker">
                    <div class="keynote-speaker__photo"></div>
                    <div class="keynote-speaker__name">Audrey Tang (au)</div>
                    <a class="keynote-speaker__url" href="https://twitter.com/audreyt" target="_blank">https://twitter.com/audreyt</a>
                    <h3 class="keynote-speaker__heading h4">Bio</h3>
                    <p class="keynote-speaker__body">
                    </p>
                </div>
            </div>
        </div>
        {% endcomment %}
    </div>
</div>
{# end .sec-conf #}

{# begin .sponsors #}
<div class="section sponsors">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="section__heading">Sponsors</h2>
                <div class="row">
                    <div class="sponsors__logo col-sm-12">
                        <a href="http://aktsk.com.tw/" target="_blank"><img class="img-responsive" src="{% static 'images/sponsors/akatsuki.png' %}" alt="akatsuki" style="max-height:100px;"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="sponsors__logo col-sm-4">
                        <a href="http://ocf.tw" target="_blank"><img class="img-responsive" src="{% static 'images/sponsors/openculture.png' %}" alt="openculture" style="max-height:50px;"></a>
                    </div>
                    <div class="sponsors__logo col-sm-4">
                        <a href="http://www.wolftea.com" target="_blank"><img class="img-responsive" src="{% static 'images/sponsors/wolftea.png' %}" alt="wolftea" style="max-height:100px; margin-top:10px;"></a>
                    </div>
                    <div class="sponsors__logo col-sm-4">
                        <a href="http://www.gliacloud.com" target="_blank"><img class="img-responsive" src="{% static 'images/sponsors/gliacloud.png' %}" alt="gliacloud" style="max-height:50px;"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{# end .sec-sponsors #}

<footer class="footer container-fluid text-center">
    <div class="row clearfix">
        <div class="col-md-2">2016 PyCon Taiwan</div>
        <div class="col-md-8 hidden-xs hidden-sm">
            <img width="133" height="24" src="{% static 'images/Logo_pycontw16_blue_footer@2x.png' %}" class="logo">
        </div>
        <div class="social col-md-2 text-center">
            <a href="https://www.facebook.com/pycontw" class="social-btn" target="_blank">
                <i class="fa fa-facebook fa-lg"></i>
            </a>
            <a href="https://twitter.com/pycontw" class="social-btn" target="_blank">
                <i class="fa fa-twitter fa-lg"></i>
            </a>
        </div>
    </div>
</footer>



{% endblock body %}